:root {
  --main-font: 'Poppins', sans-serif;
  --background: #E14B4B;
}

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: white;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  height: 100vh;
}

main div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

p {
  font-size: 6rem;
}

span {
  font-size: 3rem;
}