:root {
  --main-font: 'Poppins', sans-serif;
  --background: #E14B4B;
}

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: white;
  font-family: var(--main-font);
  text-align: center;
}

main {
  height: 100vh;

  display: grid;
  grid-template-areas: 
  'ornament ornament'
  'countdown countdown'
  'santa-claus tree';
  grid-template-columns: 1fr 1fr;
}

img[alt*="ornament"] {
  grid-area: ornament;

  justify-self: flex-end;
}

span {
  display: none;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 4rem);
  font-weight: 500;
  margin-bottom: 40px;
}

.countdown {
  grid-area: countdown;
}

h2 {
  font-size: clamp(1.9rem, 3vw, 6rem);
  font-weight: 300;
}

p {
  font-size: clamp(.57rem, 2vw, 1.8rem);
  font-weight: 300;
}

img[alt*="Santa"] {
  width: 150px;
  margin-bottom: 10px;

  grid-area: santa-claus;
  align-self: end;
}

img[alt*="tree"] {
  width: 70px;
  margin-bottom: 10px;

  grid-area: tree;
  align-self: end;
  justify-self: end;
}